<h1>Listing articles</h1> 
<% @laptops.each do |laptop|%>
	<div><%= laptop.brand %>
<%= link_to 'Show',  laptop_path(laptop)%>
<%= link_to 'Edit', edit_laptop_path(laptop) %>
<%= link_to 'Destroy', laptop_path(laptop), method: :delete, data: { confirm: 'Are you sure?' } %>
 </div>
<% end %>

<p>
    <%= link_to 'New Laptop', new_laptop_path %>
</p>
